# Google AI Studio
GOOGLE_API_KEY=<your-api-key>
GOOGLE_GENAI_USE_ENTERPRISE=FALSE
# Gemini Enterprise Agent Platform (uncomment to use)
#GOOGLE_GENAI_USE_ENTERPRISE=TRUE
#GOOGLE_CLOUD_PROJECT=<your-project-id>
#GOOGLE_CLOUD_LOCATION=<your-location>